body {
  margin: 0;
  padding: 0;
}
.app {
  margin: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.letters-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image {
  text-align: center;
  height: 300px;
  width: 300px;
}

.alphabet-box {
  padding: 2px;
  margin: 2px;
}

.puzzle-word {
  padding: 10px;
  margin: 10px;
  color: black;
  font-size: 20px;
  font-weight: 2;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.letter-box {
  padding: 2px;
  margin: 2px;
  height: 25px;
  width: 25px;
  border: solid black 1px;
  flex-wrap: wrap;
}

.chosen-letter {
  color: black;
  font-size: 50px;
  font-weight: 2;
}

.game-result {
  padding: 5px;
  margin: 5px;
  color: red;
  font-size: 70px;
  font-weight: 2;
}

.game-category {
  padding: 5px;
  margin: 5px;
  color: black;
  font-size: 30px;
}
.puzzle-word :empty {
  padding: 2px;
  margin: 2px;
  height: 25px;
  width: 25px;
  background-color: blue;
  border: solid black 1px;
  flex-wrap: wrap;
}
